
// ---
// Nav
// ---
// I like this toggle menu a lot: https://codepen.io/bradfrost/pen/sHvaz

// Base mobile nav styles here.

.nav {
	list-style-type: none;
	padding-left: 0;

	// A breakpoint for the larger screens
	@include bp(md) {

		li {
			display: inline-block;
			padding-right: $h4;
			
			&:last-child {
				padding-right: 0;
			}
		}

	}
}

