.nav-main {
	max-height: 0;
	overflow: hidden;
	transition: all 0.75s ease;

	&.active {
		background-color: purple;
		max-height: $screen-md;
	}

	@include bp(md) {
		max-height: none;
	}
}

.nav-items {
	list-style-type: none;
	padding-left: 0;

	@include bp(md) {
		& > li {
			display: inline-block;
		}
		background-color: red;
	}
}

	.nav-item-link {
		padding: 1.4rem;
	}


// Link to open the nav

.nav-link {
	
	@include bp(md) {
		display: none;
	}

	&.active {
		background-color: blue;
	}
}