
// Breakpoints

$screen-xs: 	29rem;
$screen-sm: 	35rem;
$screen-md: 	42rem;
$screen-lg: 	50rem;




$size-base: 	1.1rem;

$size-h1: 		$size-base*2.4;
$size-h2: 		$size-base*2;
$size-h3: 		$size-base*1.6;
$size-h4: 		$size-base*1.4;
// ...goes through h6
$size-sml: 		$size-base*0.85;


// Typography

$sans-serif: 	'Georgia';
$serif: 		'Helvetica';

$font-heading: 		$sans-serif;
$font-body: 		$serif;


